@import 'colorpallette.css';

#anchor {
    -fx-background-color: UNA-grey;
}

#closeBtn, #minimizeBtn{
    -fx-background-color: transparent;
    -fx-background-size: 16px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#closeBtn{
    -fx-background-image: url('../icons/cerca.png');
}

#minimizeBtn {
    -fx-background-image: url('../icons/minimizar.png');
}

.root {
    -fx-background-color: white;
}

.label {
    -fx-text-fill: UNA-blue;
    -fx-font-family: 'Goudy Old Style';
    -fx-font-size: 12px;
}

.title-label
{
    -fx-text-fill: UNA-blue;
    -fx-font-family: 'Goudy Old Style Bold';
    -fx-font-size: 24px;
}

.subtitle-label
{
    -fx-text-fill: UNA-blue;
    -fx-font-family: 'Goudy Old Style Italic';
    -fx-font-size: 18px;
}

.tag-label
{
    -fx-text-fill: UNA-blue;
    -fx-font-family: 'Goudy Old Style';
    -fx-font-size: 15px;
}

.tab-pane {
    -fx-tab-min-height: 60px;
    -fx-tab-min-width: 170px;
    -fx-tab-max-height: 60px;
    -fx-tab-max-width: 170px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.tab-pane *.tab-header-background
{
    -fx-background-color: UNA-grey;
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0 0 2 0;
}

.tab-pane:bottom *.tab-header-area
{
    -fx-background-insets: 0 0 0 10;
    -fx-padding: 0 0 0 0;
}
.tab
{
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 0 0 0;
    -fx-alignment: CENTER_LEFT;
}

.tab .tab-label
{
    -fx-text-fill: UNA-blue;
    -fx-font-family: 'Goudy Old Style Bold';
    -fx-font-size: 20px;
    -fx-alignment: CENTER_LEFT;
}

#imageStudents
{
    -fx-alignment: CENTER_LEFT;
    -fx-image: url('../icons/student.png');
}

#imageWorkers
{
    -fx-alignment: CENTER_LEFT;
    -fx-image: url('../icons/empleado.png');
}

.tab:hover
{
    -fx-background-color: UNA-grey-light;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: black;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0 0 0 0;
}

.tab:selected
{
    -fx-background-color: white;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-width: 5 0 0 0;
    -fx-border-color: UNA-red;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:focused
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#startBtn
{
    -fx-background-radius: 100;
    -fx-background-color: UNA-grey;
    -fx-effect: dropshadow(gaussian, black, 8, 0, 0, 2);
}

#startBtn:hover
{
    -fx-background-radius: 100;
    -fx-background-color: UNA-grey-light;
}

#startBtn:pressed
{
    -fx-background-radius: 100;
    -fx-background-color: UNA-grey;
    -fx-effect: innershadow(gaussian, black, 8, 0, 0, 1);
}

.text-field {
    -fx-background-radius: 30;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(gaussian, #333333, 5, 0, 0, 2);
}

.text-field:hover
{
    -fx-background-radius: 30;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(gaussian, #333333, 5, 0, 0, 1);
}

.text-field:focused
{
    -fx-background-radius: 30;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-radius: 30;
    -fx-effect: innershadow(gaussian, black, 5, 0, 0, 1);
}

.buttonWithImage {
    -fx-border-radius: 30px;
    -fx-border-color: transparent;
    -fx-background-image: url('../icons/search.png');
    -fx-background-size: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 45%;
    -fx-background-radius: 30;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, #333333, 5, 0, 0, 2);
}

.buttonWithImage:hover
{
    -fx-border-radius: 30px;
    -fx-border-color: transparent;
    -fx-background-image: url('../icons/search.png');
    -fx-background-size: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 45%;
    -fx-background-radius: 30;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, #333333, 5, 0, 0, 1);
}

.buttonWithImage:pressed
{
    -fx-border-radius: 30px;
    -fx-border-color: transparent;
    -fx-background-image: url('../icons/search.png');
    -fx-background-size: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 45%;
    -fx-background-radius: 30;
    -fx-background-color: white;
    -fx-effect: innershadow(gaussian, black, 5, 0, 0, 1);
}